#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    height: 30px;
    background-color: green;
    text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  }